REACT_APP_STRIPE_PUBLISH_KEY=pk_test_51L52TtSFRGdRT9ITjaUCMP9B4S9QI0bj247sbDRz5mgU2Ucf6hvwWirXYaG7H81pYgBV7tW8Pr3MgGef33O51JmP00urP02d02
REACT_APP_GOOGLE_AUTH_CLIENT_ID=809213005780-mog9be348hpov7k9ic9f77671trstd2m.apps.googleusercontent.com

# Add below ports if you are running on your machine
REACT_APP_AUTHENTICATION_SERVICE_PORT=7000
REACT_APP_PAYMENT_SERVICE_PORT=9050
REACT_APP_COMMON_DATA_SERVICE_PORT=9000
REACT_APP_SEARCH_SUGGESTION_SERVICE_PORT=10000
REACT_APP_COMMON_DATA_SERVICE_IP=localhost

# Add URL if you dont want to use port.
# Higher priority is given to URL over PORTs.
REACT_APP_AUTHENTICATION_SERVICE_URL=<URL of Auth Service>
REACT_APP_COMMON_DATA_SERVICE_URL=<URL of Common Data Service>
REACT_APP_PAYMENT_SERVICE_URL=<URL of Payment Service>
REACT_APP_SEARCH_SUGGESTION_SERVICE_URL=<URL of Search Suggestion Service>

REACT_APP_ENVIRONMENT=<prod/dev>
